<section>
  <div class="row">
    <div class="span16">
      <h2>Callback Error</h2>
      <p><code><%= h params[:error] %></code></p>
      <p><code><%= h params[:error_description] %></code></p>
    </div>
  </div>
</section>
