<!DOCTYPE html>
<html>
<head>
  <title>Doorkeeper OAuth 2 Client (Sinatra)</title>
  <link type="text/css" rel="stylesheet" media="screen" href="http://twitter.github.com/bootstrap/1.4.0/bootstrap.min.css">
  <link type="text/css" rel="stylesheet" media="screen" href="/application.css">
</head>
<body>
  <div class="topbar" data-scrollspy="scrollspy">
    <div class="fill">
      <div class="container">
        <a class="brand" href="/">Sinatra Client</a>
        <ul class="nav">
          <li><a href="#explore">Explore the API</a></li>
          <li><a href="#about-doorkeeper-gem">About the Gem</a></li>
          <li><a href="#installation">Installation</a></li>
          <li><a href="#configuration">Configuration</a></li>
          <li><a href="#client-application">Client Application</a></li>
          <li><a href="#environment-variables">Environment Variables</a></li>
          <li><a href="#start-the-server">Server</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="container">
    <%= yield %>
  </div>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
  <script src="http://twitter.github.com/bootstrap/1.4.0/bootstrap-buttons.min.js"></script>
  <script src="http://twitter.github.com/bootstrap/1.4.0/bootstrap-scrollspy.js"></script>
  <script src="/application.js"></script>
</body>
</html>
