<!DOCTYPE html>
<html>
<head>
  <title>Doorkeeper OAuth 2 Client (Sinatra)</title>
  <link type="text/css" rel="stylesheet" media="screen" href="http://twitter.github.com/bootstrap/1.4.0/bootstrap.min.css">
  <link type="text/css" rel="stylesheet" media="screen" href="/application.css">
</head>
<body>
  <div class="topbar">
    <div class="fill">
      <div class="container">
        <a class="brand" href="/">Doorkeeper OAuth 2 Client (Sinatra)</a>
      </div>
    </div>
  </div>
  <div class="container">
    <%= yield %>
  </div>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
  <script src="http://twitter.github.com/bootstrap/1.4.0/bootstrap-buttons.min.js"></script>
  <script src="/application.js"></script>
</body>
</html>
